menu "Component drv_console Configuration"

    config DRV_CONSOLE_USE
        bool "Use drv_console component"
        default y
        
    config DRV_CONSOLE_CUSTOM
        bool "Use Custom Console"
        default n

    config DRV_CONSOLE_CUSTOM_LOG_DISABLE_FIX
        depends on DRV_CONSOLE_CUSTOM
        bool "Use Custom Console Log Disable"
        default n

endmenu